.chatBoxContent {
	background-color: #222222;
	width: 450px;
	min-width: 390px;
	height: 70vh;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0px auto 0px auto;
}

.chatLogs {
	padding: 10px;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}