.suggestionContainer {
	display: flex;
	align-items: center;
	box-sizing: unset;
	height: 40px;
	width: 450px;
	overflow: auto;
	padding-bottom: 10px;
	background-color: #222222;
}

.suggestionContainer::-webkit-scrollbar{
	height: 3px;
}