* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
	font-weight: 100;
}

body {
	background: #141E30;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.chatbox {
	width: 500px;
	min-width: 390px;
	height: 70vh;
	background: white;
	padding: 25px;
	margin: 0px auto 0px auto;
	box-shadow: 0 3px #ccc;
}

.chatlogs {
	background-color: white;
	padding: 10px;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}

/*Styling the scrolllbar*/
.chatlogs::-webkit-scrollbar {
	width: 10px;
}

.chatlogs::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: rgba(17, 157, 186, 0.1);
}

.chat {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	margin-bottom: 10px;
}

.user-photo img {
	background-color: rgb(255, 255, 255);
	padding: 10px;
	padding-top: 7px;
	width: 100%;
}

.chat .chat-message {
	padding: 15px;
	margin: 5px 10px 0;
	font-size: 18px;
}

.user-photo {
	width: 60px;
	height: 60px;
	background: #ccc;
	border-radius: 50%;
	overflow: hidden;
}

.friend .chat-message {
	color: black;
	width: auto;
	max-width: 70%;
	background: rgb(17, 157, 186, 0.1);
	border-radius: 20px;
	border-top-left-radius: 0px;
}

.self .chat-message {
	color: white;
	max-width: 80%;
	width: auto;
	margin: 5px 0 5px auto;
	border-radius: 20px;
	border-top-right-radius: 0px;
	background: rgb(17, 157, 186);
	overflow-wrap: break-word;
}

.headerBar {
	font-size: 25px;
	color: white;
	padding: 25px;
	width: 500px;
	min-width: 390px;
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	margin: 20px auto 0px auto;
	background: rgb(17, 157, 186);
	border-radius: 10px 10px 0px 0px;
}

.headerBar .title {
	margin: auto 20px;
}

.headerBar .user-photo {
	margin: 0px 0px 0px 10px;
}

.headerBar .user-photo img {
	width: 100%;
}

.chat-form {
	margin: 0px auto 0px auto;
	display: flex;
	width: 500px;
	min-width: 390px;
	align-items: flex-start;
	overflow: auto;
	background: rgb(255, 255, 255);
	border-radius: 0 0 10px 10px;
}

#inputDiv {
	width: 75%;
	margin-right: 15px;
}

.chat-form textarea {
	padding: 5px 5px 5px 15px;
	background: #fbfbfb;
	width: 100%;
	min-height: 5px;
	border-radius: 20px;
	resize: none;
	font-size: 18px;
	color: #000;
	margin: 15px 0px 15px 10px;
	display: block;
	overflow: hidden;
	box-shadow: none;
	outline: none;
}

.chat-form textarea:focus {
	background: #fff;
}

#chat-form-buttons {
	margin: auto;
}

.gif img {
	height: 51px;
	margin: 10px;
	border-radius: 20px;
	background-color: rgba(17, 157, 186, 0.1);
}

.buttonResponse {
	color: rgb(17, 157, 186);
	max-width: 80%;
	width: fit-content;
	margin: 5px 0 5px auto;
	border-radius: 20px;
	box-shadow: 0px 2px rgba(17, 157, 186, 0.1);
	background: rgb(17, 157, 186, 0.1);
	overflow-wrap: break-word;
	font-size: 18px;
	padding: 10px;
	margin: 20px 5px;
	float: left;
}

.buttonResponse:hover {
	color: white;
	background: rgb(17, 157, 186);

	cursor: pointer;
}

#switchInputType {
	max-width: 40px;
	max-height: 40px;
}

#rec {
	max-width: 40px;
	max-height: 40px;
}

#buttonDiv {
	margin: 0 auto;
	width: inherit;
}
