.chat {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	margin-bottom: 10px;
}

.botImg {
	width: 60px;
	height: 60px;
	overflow: hidden;
}

.botImg img {
	padding: 10px;
	padding-top: 6px;
	width: 100%;
}

.chat .chatMessage {
	text-transform: capitalize;
	color: #ffffff;
	padding: 10px;
	margin: 5px 0;
	font-size: 16px;
	border-radius: 7px;
	max-width: 60%;
	width: auto;
	overflow-wrap: break-word;
}

.chat .imageMessage {
	margin: 5px 0;
	border-radius: 7px;
	max-width: 60%;
	width: auto;
	border: 1px solid rgba(82, 82, 82, 0.411);
}

.bot .chatMessage {
	background: #2298c74d;
	border-top-left-radius: 0px;
}

.self .chatMessage {
	margin: 5px 0 5px auto;
	background: #329ac4c5;
	border-top-right-radius: 0px;
}

.container{
	position: relative;
}

.dot {
  position: absolute;
  display: inline-block;
  height: 5px;
  width: 5px;
  background-color: #ffffff;
  margin: 25px;
  border-radius: 50%;
  animation: wave 1.5s infinite ease-in-out;
  top: 0;
}

.dot:first-child {
  left: 0;
}
  
.dot:nth-child(2) {
  left: 10px;
  animation-delay: 50ms;
}
  
.dot:last-child {
  left: 20px;
  animation-delay: 0.10s;
}

@keyframes wave {
  0%, 50% {
    top: 0;
  }
  25% {
    top: -10px;
  }
}

