.slider{
  padding: 10px;
  margin: 3px 0;
  max-width: 60%;
  width: auto;
  border-radius: 10px;
  border-top-left-radius: 0px;
}

.submit{
  background-color: #333;
  padding: 15px;
  border-radius: 50%;
  margin-left: 5%;
}