.suggestionContainer {
	display: flex;
	align-items: center;
	height: 40px;
	width: 450px;
	overflow: auto;
	background-color: #222222;
}

.suggestion {
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	height: 100%;
	padding: 0 20px;
	color: #fff;
	border-radius: 2px;
	border-right: 1px solid #5858585d;
}

.suggestion:last-child {
	border-right: none;
}

.suggestion:hover {
	cursor: pointer;
	transition: 0.2s all linear;
	background: #505050c5;
}
