.suggestion {
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	height: 100%;
	padding: 0 20px;
	color: rgb(211, 211, 211);
	border-radius: 30px;
	background-color: #5f5f5f42;
	margin-left: 8px;
	border: 1px solid #5858585d;
}

.suggestion:first-child{
	margin-left: 20px;
}

.suggestion:hover {
	cursor: pointer;
	color: #fff;
	transition: 0.2s all linear;
	background: #505050c5;
}
