.suggestionContainer {
	margin: 0 30px;
	width: inherit;
}

.suggestions {
	background: #a2babe38;
	color: #fff;
	margin: 5px 20px 15px 0;
	padding: 10px;
	max-width: 80%;
	width: fit-content;
	border-radius: 7px;
	font-size: 16px;
	overflow-wrap: break-word;
	float: left;
}

.suggestions:hover {
	transition: 0.2s all linear;
	border-top-right-radius: 0;
	background: #329ac4c5;
	cursor: pointer;
}