.chatBoxHeader {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	padding-top: 15px;
	min-width: 390px;
	margin: 20px auto 0px auto;
	background: #222222;
	color: #ffffff;
	font-size: 25px;
}

.chatBotName {
	text-transform: capitalize;
	margin-left: 0.5em;
	font-weight: 100;
}